.app__chef-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.app__chef-img,
.app__chef-description {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Aggiunto per centrare il testo */
}

.app__chef-description {
  padding-left: 2rem; /* Aggiunto uno spazio tra l'immagine e la descrizione */
}

.chef_img {
  border: 2px solid #4f643e;
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  object-fit: cover; /* Aggiunto per adattare l'immagine */
}

.app__chef-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 5rem;
}

.app__chef-content p {
  text-transform: none;
}

.app__chef-content_quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

/* .app__chef-content img {
  width: 47px;
  height: 40px;
  margin: 0 1rem 1rem 0;
} */

.app__chef-sign {
  width: 100%;
  margin-top: 3rem;
}

.app__chef-sign p:first-child {
  font-family: var(--font-base);
  font-weight: 400;
  font-size: 32px;
  line-height: 41.6px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: var(--color-white);
}

.app__chef-sign img {
  width: 370px;
  margin-top: 1rem;
}

/* Per dispositivi fino a 900px di larghezza */
@media screen and (max-width: 900px) {
  .app__chef-container {
    flex-direction: column;
    align-items: center;
  }

  .app__chef-img {
    margin-bottom: 2rem;
  }

  .app__chef-description {
    padding-left: 0; /* Rimuovi lo spazio tra l'immagine e la descrizione sui dispositivi più piccoli */
  }

  .chef_img {
    width: 15rem;
    height: 15rem;
  }

  .app__chef-sign img {
    width: 80%;
  }
}

/* Per dispositivi da 768px a 1023px di larghezza */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app__chef-sign img {
    width: 60%;
  }
}

/* Per dispositivi da 1024px in su di larghezza */
@media screen and (min-width: 1024px) {
  .app__chef-sign img {
    width: 370px;
  }
}



