.app__bg-menu {
  background-image: url('../../assets/backgroundmenu.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; /* Fa in modo che l'immagine copra tutto lo schermo */
  width: 100vw; /* Copre tutta la larghezza dello schermo */
  height: 100vh; /* Copre tutta l'altezza dello schermo */
  position: relative; 
}

.p__cormorant-menu {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 5px;
}

.p__cormorant-menu-2 {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  font-feature-settings: 'tnum' on, 'lnum' on;
  line-height: 29.9px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 2rem;
}

.menu-card {
  text-align: center;
}

.menu-button {
  margin-top: 10px;
  padding: 20px 80px;
  background-color: white;
  color: #4f643e;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 20px;
}

.menu-button:hover {
  background-color: var(--color-grey);
}

.mano__img-menu {
  width: 80px;
  display: block;
  margin: 0 auto;
}
