.app__bg-menu {
  position: relative;
  background-image: url('../../assets/backgroundmenu.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__bg-menu::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value (0.5) to control darkness */
}

.menu-section {
  position: relative; /* Ensures content stays above the overlay */
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  max-width: 80%;
}

.p__cormorant-menu {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}

.mano__img-menu {
  width: 80px;
}

.p__cormorant-menu-2 {
  font-size: 1.5rem;
  color: #fff;
  margin-bottom: 2rem;
}

.menu-card {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.menu-button {
  background-color: #4f643e;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
}

.menu-button:hover {
  background-color: #fff;
  color: #4f643e;
}


