
.app__aboutus-content_history {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  text-align: center;
}

.app__aboutus-content_history p, 
.app__aboutus-content_about p {
  margin: 2rem 0;
  color: var(--color-grey);
}

@media screen and (max-width: 2000px){
  .app__aboutus-content_knife img {
    height: 1110px;
  }

  .app__aboutus-content_history p {
    margin: 1rem 0;
    color: var(--color-grey);
    text-transform: none;
  }
}

@media screen and (max-width: 900px){
  .app__aboutus-content {
    flex-direction: column;
  }

  .app__aboutus-knife {
    margin: 4rem 0;
  }
}

@media screen and (max-width: 650px){
  .app__aboutus-overlay img {
    width: 80%;
    height: 320px;
  }
}